* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;


}
footer {
    background-color: black;
}
/* UTILIà */
.container-center {
    width: 60%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-large {
    width: 75%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-100 {
    width: calc(100% - 20px);
    margin: 10px;
}

.col-50 {
    width: calc(50% - 20px);
    margin: 10px;
}

.col-70 {
    width: calc(70% - 20px);
    margin: 10px;
}

.col-30 {
    width: calc(30% - 20px);
    margin: 10px;
}

.col-33 {
    width: calc(33% - 20px);
    margin: 10px;
}

.col-20 {
    width: calc(50% - 20px);
    margin: 10px;
}

.col-60{
    width: calc(60% - 20px);
    margin: 10px;
}

.col-40{
    width: calc(40% - 20px);
    margin: 10px;
}

/* style */

h2 {
    font-size: 30px;
}

h3{
    font-size: 25px;
    margin-bottom: 20px;

}

ul li {
    list-style-type: none;
}

.button-dropbox {
    background-color: rgb(72, 72, 240);
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight:lighter;
}

.button-dropbox-light{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 18px;
    border: 0.5px solid black;
}
/* Fine style */


/* Struttura */
.row {
    width: 100%;
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    height: 100%;
    display: flex;
    align-items: center;
}

.justify-center{
    display: flex;
    justify-content: center;
}
/* Fine Struttura */
/* FINE UTILIà */




/* HEADER */
/* MENU LEFT */
.logo-dropbox {
    margin-right: 20px;
}

header ul li {
    display: inline-block;
    margin-right: 20px;
}

header ul {
    display: inline;
}

header ul li a {
    text-decoration: none;
    color: black;
}

/* MENU RIGHT */
.menu-right {
    justify-content: flex-end;
}

/* FINE  MENU RIGHT*/
/* FINE HEADER */




/* JUMBOTRON */
.jumbotron {
    background-color: rgb(160, 202, 230);
    width: 100%;
    height: 550px;
    margin-bottom: 200px;
    /*RICORDA  MARGINE JUMBO*/
}

/* TESTO */
h1{
    font-size: 50px;
    font-weight: bold;
}
.left-jumbo p{
    padding-bottom: 30px
}

.left-jumbo input[type="button"]{
    margin-bottom: 20px;
}

/* IMG */
.right-jumbo img {
    width: 100%;
}
/* Freccia */
.left-jumbo i {
    font-size: 50px;
    margin-top: 50px;

}

/* FINE JUMBOTRON */





/* SEZIONE 1 - Piano business*/
.input-business input {
    margin-top: 30px;

}

/* INIZIO COLONNE VERTICALI*/
.content-price > div:first-child {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 5px 0px 5px 0px;
}

.piano {
    border: 1px solid gray;
}

.col-33.piano {
    min-height: 860px;

}

/* Margini - altezze */
.col-padding {
    padding: 30px;
}
/* ELENCO PREZZI */
.price {
    line-height: 30px;
    margin-bottom: 29px;
}
/* Titolo */
.content-price ul li{
    padding: 5px 0px 5px 0px;
}

.content-price{
    font-size: 14px;
}
/* Pulsante */
.content-price .input-price input[type="button"]{
    margin: 40px 0px 40px 0px;
    width: 100%;
}
.price-list{
    margin-top: 40px;
}

.col-padding hr {
    width: 50px;
    height: 1px;
    background-color: #b1b1b1;
    border: none;
    margin-top: 50px;
}
/* FINE COLONNE VERTICALI */





/* COLONNA ORIZZONTALE */
.content-enterprise{
    position: relative;

}
/* BOTTONE */
.content-enterprise input[type="button"]{
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.content-enterprise h4{
    margin-bottom: 40px;
}

/* FINE COLONNA ORIZZONTALE */
/* FINE SEZIONE 1 - Piano business*/




/* SEZIONE 2 - Trova partner */
/* Immagine sinistra */
.img-partner img{
    width: 100%;
}
/* Pulsante */
.text-partner input[type="button"]{
    margin-top: 40px;
}
/* SEZIONE 2 - Trvova partner */




/* SEZIONE 3 - Operazioni */
.operations img{
    width: 100%;
}
/* FINE SEZIONE 3 - Operazioni */





/* SEZIONE 4 - Clienti */
.link-client h2{
    padding-bottom: 50px;
}
/* FINE SEZIONE 4 - Clienti */





/* SEZIONE 5 - QUADRATI */
.container-full{
    width: 100%;
    background-color: antiquewhite;
}

.height-100{
    height: 100%;
}
.col-33-full{
    width: calc(100%/3);
    height: calc(100vw/3);
}

.col-50-full{
    width: 50%;
    height: 50%;
    position: relative;
}

.col-50-full img{
    filter: saturate(0);
    filter: grayscale(0);
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* QUADRATO CENTRALE */
.square-wrap{
    height: 100%;
    padding: 50px;
}
.square-wrap img{
    width: 70%;
}
.square-wrap hr {
    width: 100px;
    height: 1px;
    background-color: #5f5f5f;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
}
.square-wrap span{
    display: block;
    margin-top: 30px;
}

/* COLORI SQUAREs */
.square-red{
    background-color: red;
}

.square-green{
    background-color: green;

}

.square-yellow{
    background-color: rgb(206, 206, 131);

}

.square-blu{
    background-color: blue;

}
/* FINE QUADRATI FULL */



/* INIZIO SEZIONE 6 FULL- prova gratuita */

.trial-wrap{
    position: relative;
}

.trial-wrap input[type="button"]{
    position:absolute;
    right: 0;
    top: 0;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
}
.trial-wrap h2{
    color: rgb(124, 17, 17);
}

.background-trial{
    background-color: rgb(125, 214, 214);
}
/* FINE SEZIONE 6 FULL */


/* INIZIO SEZIONE 7 - Domande Frequenti */
.query-wrap h2{
    margin-bottom: 50px;
}

.query-wrap{
    position: relative;
}
.query-wrap i{
    position: absolute;
    right: 0;
    padding-right: 40px;
    font-size: 15px;
}
.query-wrap span{
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}
/* FINE SEZIONE 7 - Domande Frequenti */



/* INIZIO FOOTER */
/* Footer up */

footer h3{
    color: rgb(255, 255, 255);
    font-weight: bolder
}

footer a {
    line-height: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
/* FINE Footer up */
/* Footer down */

.wrap-languages-footer>hr{
    width: 150px;
    height: 3px;
    background-color: #ffffff;
    border: none;
    margin-top: 50px;
    margin-bottom:50px;
}

.wrap-languages-footer > ul{
    color: #ffffff;
}

/* FINE FOOTER */

