* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea,
button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* UTILIà */
.container-center {
    width: 60%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.margin {
    margin-bottom: 100px;
}

.container-large {
    width: 75%;
    margin: auto;
}

.col-100 {
    width: calc(100% - 20px);
    margin: 10px;
}

.col-50 {
    width: calc(50% - 20px);
    margin: 10px;
}

.col-70 {
    width: calc(70% - 20px);
    margin: 10px;
}

.col-30 {
    width: calc(30% - 20px);
    margin: 10px;
}

.col-33 {
    width: calc(33% - 20px);
    margin: 10px;
}

.col-20 {
    width: calc(50% - 20px);
    margin: 10px;
}

.col-60 {
    width: calc(60% - 20px);
    margin: 10px;
}

.col-40 {
    width: calc(40% - 20px);
    margin: 10px;
}

/* style */

h2 {
    font-size: 38px;
    margin-bottom: 20px;
}

h3 {
    font-size: 23px;
    margin-bottom: 20px;

}

ul li {
    list-style-type: none;
}

.button-dropbox {
    background-color: #0061ff;
    color: white;
    border: none;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
    font-weight: lighter;
}

.button-dropbox-light {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 18px;
    border: 0.5px solid black;
}

/* Fine style */


/* Struttura */
.row {
    width: 100%;
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    height: 100%;
    display: flex;
    align-items: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

/* Fine Struttura */
/* FINE UTILIà */




/* HEADER */
header {
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 99;
    background-color: white;
    border-bottom: solid rgb(206, 206, 206);
    border-width: thin;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* MENU LEFT */
.logo-dropbox {
    margin-right: 20px;
}

header ul li {
    display: inline-block;
    margin-right: 20px;
}

header ul {
    display: inline;
}

header ul li a {
    text-decoration: none;
    color: black;
}

/* MENU RIGHT */
.menu-right {
    justify-content: flex-end;
}

.menu-right input {
    padding: 5px 15px 5px 15px;
}

/* FINE  MENU RIGHT*/
/* FINE HEADER */



/* JUMBOTRON */
.jumbotron {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 150px;
    background-color: #b4d0e7;
    /*RICORDA MARGINE e PADDING JUMBO*/
}

/* TITOLONE*/
h1 {
    position: relative;
    top: 75px;
    font-size: 80px;
    font-weight: 900;
}

/* FINE TITOLO*/
/* COL LEFT  */
.left-jumbo p {
    padding-bottom: 30px
}

.left-jumbo input[type="button"] {
    margin-bottom: 20px;
}

.right-jumbo {
    position: relative;
    bottom: -90px;
}

/* IMG */
.left-jumbo {
    position: relative;
    bottom: -90px;
}

.right-jumbo img {
    width: 100%;
}

/* Freccia */
.left-jumbo i {
    font-size: 50px;
    margin-top: 60px;
}

/* FINE JUMBOTRON */





/* SEZIONE 1 - Piano business*/
.input-business input {
    margin-top: 30px;
}

/* INIZIO COLONNE VERTICALI*/
.content-price>div:first-child {
    text-align: center;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 5px 0px 5px 0px;
}

.border-gray {
    border: 1px solid rgb(190, 190, 190);
    border-width: thin;
}

/* Margini - padding */
.col-padding {
    padding: 30px;
}

.col-33.border-gray {
    margin-right: 30px;
    margin-top: 40px;
}

.col-100.border-gray {
    margin-top: 30px;
}

/* ELENCO PREZZI */
.price {
    line-height: 30px;
    margin-bottom: 29px;
}

/* Titolo */
.content-price ul li {
    padding: 5px 0px 5px 0px;
}

.content-price {
    font-size: 14px;
}

.price>strong {
    font-weight: 600;
}

/* Pulsante */
.content-price .input-price input[type="button"] {
    margin: 40px 0px 40px 0px;
    width: 100%;
}

.col-padding hr {
    width: 50px;
    height: 1px;
    background-color: #b1b1b1;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
}
.price-list {
    margin-top: 50px;
}

/* ENTITIES */
.price-list.check i {
    color: #0061ff;
}

/* FINE COLONNE VERTICALI */


/* COLONNA ORIZZONTALE */
.content-enterprise {
    position: relative;
}

/* BOTTONE */
.content-enterprise input[type="button"] {
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.content-enterprise h4 {
    margin-bottom: 40px;
}

/* FINE COLONNA ORIZZONTALE */
/* FINE SEZIONE 1 - Piano business*/




/* SEZIONE 2 - Trova partner */
/* Immagine sinistra */
.text-partner {
    margin-top: 50px;
    margin-left: 30px;
}

.img-partner img {
    width: 100%;
}

/* Pulsante */
.text-partner input[type="button"] {
    margin-top: 40px;
    font-weight: 300;
    font-size: 16px;
}

/* SEZIONE 2 - Trvova partner */




/* SEZIONE 3 - Operazioni */
.operations img {
    width: 100%;
}

/* FINE SEZIONE 3 - Operazioni */





/* SEZIONE 4 - Clienti */
.link-client h2 {
    padding-bottom: 50px;
}
/* FINE SEZIONE 4 - Clienti */





/* SEZIONE 5 - QUADRATI */
.container-full {
    width: 100%;
    padding-top: 100px;
}

.height-100 {
    height: 100%;
}

.col-33-full {
    width: calc(100%/3);
    height: calc(100vw/3);
}

.col-50-full {
    width: 50%;
    height: 50%;
    position: relative;
}

.col-50-full img {
    filter: saturate(0);
    filter: grayscale(0);
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* QUADRATO CENTRALE */
.square-wrap {
    height: 100%;
    padding: 50px;
    background-color: #f5f5f5;
}

.square-wrap img {
    width: 70%;
}

.square-wrap hr {
    width: 100px;
    height: 1px;
    background-color: #5f5f5f;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

.square-wrap span {
    display: block;
    margin-top: 30px;
}

/* COLORI SQUAREs */
.col-50-full img {
    filter: invert(1);
}

.style-square-one {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.style-square-two {
    background-color: #61082b;
}

.style-square-three {
    background-color: #0093ce;
}

.style-square-four {
    background-color: #ff1c1c;
}

.style-square-five {
    background-color: #d5001f;
}

.style-square-six {
    background-color: #b4d0e7;
}

.style-square-seven {
    background-color: #0d2481;
}

.style-square-eight {
    background-color: #ffd830;
}
/* FINE QUADRATI FULL */



/* INIZIO SEZIONE 6 FULL- prova gratuita */

.trial-wrap {
    position: relative;
}

.trial-wrap input[type="button"] {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
}

.trial-wrap h2 {
    color: #61082b;
}

.background-trial {
    background-color: #b4d0e7;
    margin-bottom: 100px;
}

/* FINE SEZIONE 6 FULL */


/* INIZIO SEZIONE 7 - Domande Frequenti */
.query-wrap h2 {
    margin-bottom: 50px;
}

.query-wrap {
    position: relative;
}

.query-wrap i {
    position: absolute;
    right: 0;
    padding-right: 40px;
    font-size: 15px;
}

.query-wrap span {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}

.query-wrap hr {
    height: 1px;
    background-color: rgb(190, 190, 190);
    border-width: 100;
    border:none;
}

/* FINE SEZIONE 7 - Domande Frequenti */



/* INIZIO FOOTER */
/* Footer up */

footer {
    padding-bottom: 40px;
    padding-top: 80px;
    margin-top: 100px;
    background-color: black;
}

footer h3 {
    color: rgb(255, 255, 255);
    font-weight: 400
}

footer a {
    line-height: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* FINE Footer up */

/* Footer down */
.wrap-languages-footer>hr {
    width: 120px;
    height: 1px;
    background-color: #ffffff;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wrap-languages-footer>ul {
    color: #b1b1b1;
}

/* FINE FOOTER */