* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

}

/* UTILIà */
.container-center {
    width: 60%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(210, 219, 216);
}

.container-large {
    width: 75%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(201, 216, 194);
}

.col-100 {
    height: 150px;
    width: calc(100% - 20px);
    margin: 10px;
    background-color: bisque;
}

.col-50 {
    height: 60px;
    width: calc(50% - 20px);
    margin: 10px;
    background-color: bisque;
}

.col-70 {
    height: 200px;
    width: calc(70% - 20px);
    margin: 10px;
    background-color: bisque;
}

.col-30 {
    height: 200px;
    width: calc(30% - 20px);
    margin: 10px;
    background-color: bisque;
}

.col-33 {
    height: 700px;
    width: calc(33% - 20px);
    margin: 10px;
    background-color: bisque;
}

.col-20 {
    height: 300px;
    width: calc(50% - 20px);
    margin: 10px;
    background-color: bisque;
}

/* style */

h2 {
    font-size: 30px;
}

h3{
    font-size: 25px;

}

ul li {
    list-style-type: none;
}

.button-dropbox {
    background-color: rgb(72, 72, 240);
    color: white;
    border: none;
    padding: 10px;
}

/* DFine style */


/* Struttura */

.row {
    width: 100%;
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    height: 100%;
    display: flex;
    align-items: center;
}

/* Fine Struttura */
/* FINE UTILIà */




/* HEADER */
/* MENU LEFT */
.logo-dropbox {
    margin-right: 20px;
}

header ul li {
    display: inline-block;
    margin-right: 20px;
}

header ul {
    display: inline;
}

header ul li a {
    text-decoration: none;
    color: black;
}

/* MENU RIGHT */
.menu-right {
    justify-content: flex-end;
}

/* FINE  MENU RIGHT*/
/* FINE HEADER */




/* JUMBOTRON */
.jumbotron {
    background-color: rgb(160, 202, 230);
    width: 100%;
    height: 400px;
    margin-bottom: 400px;
    /*RICORDA  MARGINE JUMBO*/

}


h1 {
    font-size: 50px;
    font-weight: bold;
}


.img-jumbo img {
    width: 100%;
}

/* FINE JUMBOTRON */





/* SEZIONE 1 - Piano business*/
.input-business input {
    margin-top: 30px;

}

/* INIZIO COLONNE */
/* COL LEFT */

.content-price > div:first-child {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 5px 0px 5px 0px;
}

.border {
    border: 1px solid gray;
}

/* ELENZO PREZZI */
.price {
    line-height: 30px;
    margin-bottom: 29px;
}

.price h3 {
    padding-top: 20px;
}

.content-price ul li{
    padding: 5px 0px 5px 0px;
}

.content-price input[type="button"]{
    margin: 40px 0px 40px 0px;

}
.col-padding {
    padding: 20px;
}
.input-price div{

}

.second-price-list{
    margin-top: 40px;
    margin-bottom: 40px;
}
/* FINE COLONNE */

/* FINE SEZIONE 1 - Piano business*/




/* SEZIONE 3 - Operazioni */

/* FINE SEZIONE 3 - Operazioni */